# AI connection settings
# Supported platforms and models:

# OpenAI: gpt-4o-mini, gpt-4o, gpt-3.5-turbo
# Anthropic: claude-2, claude-instant-100k, claude-1, claude-1.3
# Google / Vertex: gemini-1.5-pro, gemini-1.5-pro-code
# Azure OpenAI: gpt-4o-mini, gpt-4o, gpt-3.5-turbo
AI_PLATFORM_TYPE="openai"
AI_PLATFORM="gpt-4o-mini"
AI_API_KEY="sk-xxx"
